{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block header %}
{{ project.name }}
{% endblock %}

{% block content %}
<p>{{ project.description }}</p>
{% if project.image %}
    <img src="{{ project.image.url }}" alt="{{ project.name }}" class="img-fluid mt-3">
{% endif %}
<h2>Issues</h2>
<ul class="list-group">
    {% for issue in project.issues.all %}
        <li class="list-group-item">
            <a href="{% url 'issue_detail' pk=issue.pk %}">{{ issue.title }}</a>
        </li>
    {% endfor %}
</ul>
<a class="btn btn-primary mt-3" href="{% url 'create_issue' project_pk=project.pk %}">Create New Issue</a>
<a class="btn btn-secondary mt-3" href="{% url 'project_list' %}">Back to Projects</a>
<a class="btn btn-secondary mt-3" href="{% url 'edit_project' pk=project.pk %}">Edit Project</a>
{% endblock %}
