{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block header %}
Projects
{% endblock %}
{% block content %}

<img src="{% static 'tracker/images/Project.jpg' %}" alt="Project" class="home-image"><br>
<br>

<div class="projects-background">
    <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item">
                <a href="{% url 'project_detail' pk=project.pk %}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary mt-3" href="{% url 'create_project' %}">Create New Project</a>
</div>
{% endblock %}
